html {
	box-sizing: border-box;
}
*,*::before,*::after {
	box-sizing: inherit;
}
a{
	text-decoration: none;
}
p,ul,h1,h2,h3,h4,h5{
	padding: 0;
	margin: 0;
}
body{
	min-width: 320px;
	max-width: 1200px;
	font-size: 16px;
	font-weight: 400;
	font-family: "OpenSans", sans serif;
}
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Helvetica";
  src: local("Helvetica"), url("../fonts/HelveticaRegular.woff") format("woff2"), url("../fonts/opensans.woff") format("woff");
}
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Helvetica";
  src: local("Helvetica"), url("../fonts/HelveticaRegular.ttf") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}
main{
	display: flex;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; 
}
@media (min-width: 768px)and(max-width: 1024px) {
	justify-content: space-between;
}